ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: steelblue;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: snow;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none    
}

#project1 {
    float: left;
    width: 256px;
    height: 512px;
    margin-right: 2%;
    text-align: center;
    border-style: solid;
    border-color: steelblue;
}

#project2,
#project3,
#project4 {
    float: left;
    width: 256px;
    height: 512px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    border-style: solid;
    border-color: steelblue;
}

.projecttitle {
    font-weight: 700;
    font-size: 20px;
}
