.navbar {
    width: 100%;
    background-color: steelblue;
    overflow: auto;
}

.navbar a{
    float: right;
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #386890;
}

.navbar a.active {
    background-color: #40464e;
    color: white;
}

#project1 {
    float: left;
    width: 256px;
    height: 512px;
    margin-right: 2%;
    text-align: center;
    border-style: solid;
    border-color: steelblue;
}

#project2,
#project3,
#project4 {
    float: left;
    width: 256px;
    height: 512px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    border-style: solid;
    border-color: steelblue;
}

.projecttitle {
    font-weight: 700;
    font-size: 20px;
}
